<nav>
   {{>link text="Skills" href="/skills" line=true }}
   {{>link text="Summary" href="/summary" line=true}}
   {{>link text="Education" href="/education" line=true}}
   {{>link text="Work" href="/work" line=true }}
   {{>link text="Example1" href="/person" line=true }}
   {{>link text="Example2" href="/bio" line=true }}
   {{>link text="Example3" href="/program" line=true }}
   {{>link text="Example4" href="/web" line=true }}
   {{>link text="task22" href="/task22" line=true }}
   {{>link text="Index" href="/" line=true noLine=true}}
</nav>