<nav>
   <div class="row">
      <div class="col-3">
         {{>link text="Skills" href="/skills" }}
         {{>link text="Summary" href="/summary" }}
         {{>link text="Education" href="/education" }}
         {{>link text="Work" href="/work" }}
         {{>link text="Ex.1(resume)" href="/person" }}
         {{>link text="Ex.2(biography)" href="/bio" }}
      </div>

      <div class="col-3">

         {{>link text="Ex.3(tour)" href="/program" }}
         {{>link text="Ex.4(web)" href="/web" }}
         {{>link text="Ex.5(js)" href="/js" }}
         {{>link text="Ex.6(car)" href="/car"}}
         {{>link text="Ex.7(mac)" href="/mac" }}
         {{>link text="Ex.8(facebook)" href="/facebook" }}
      </div>
      <div class="col-3">

         {{>link text="card 1" href="/task21" }}
         {{>link text="card 2" href="/task22" }}
         {{>link text="welcome-page" href="/task31" }}
         {{>link text="shophome" href="/shophome" }}
         {{>link text="shoporder" href="/shoporder" }}
         {{>link text="shopcart" href="/shopcart" }}
      </div>
      <div class="col-3">

         {{>link text="shopprofile" href="/shopprofile" }}
         {{>link text="shopreview" href="/shopreview" }}
         {{>link text="shopcatalog" href="/shopcatalog" }}


      </div>
   </div>
</nav>