<nav>
   <div class="row">
      <div class="col-3">
         {{>link text="Skills" href="/skills" }}
         {{>link text="Summary" href="/summary" }}
         {{>link text="Education" href="/education" }}
         {{>link text="Work" href="/work" }}
         {{>link text="Ex.1" href="/person" }}
         {{>link text="Ex.2" href="/bio" }}
      </div>

      <div class="col-3">

         {{>link text="Ex.3" href="/program" }}
         {{>link text="Ex.4" href="/web" }}
         {{>link text="Ex.5(js)" href="/js" }}
         {{>link text="Ex.6(car)" href="/car"}}
         {{>link text="Ex.7(mac)" href="/mac" }}
         {{>link text="Ex.8(facebook)" href="/facebook" }}
      </div>
      <div class="col-3">

         {{>link text="Task21" href="/task21" }}
         {{>link text="task22" href="/task22" }}
         {{>link text="task31" href="/task31" }}
         {{>link text="task41" href="/shophome" }}
         {{>link text="task51" href="/shoporder" }}
         {{>link text="task61" href="/shopcart" }}
      </div>
      <div class="col-3">

         {{>link text="task62" href="/shopprofile" }}
         {{>link text="task71" href="/shopreview" }}


      </div>
   </div>
</nav>