{{#with data}}
<div class="card">
    <div class="nav">
        {{#each links}}{{#unless @last}}<a class="nav-link" href="{{href}}">{{text}}</a>
        {{/unless}}
        {{#if @last}}<a class="nav-link disabled" href="{{href}}">{{text}}</a>{{/if}}
        {{/each}}
    </div>
</div>
{{/with}}